@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);

	/* CUSTOM COLORS */
	--lightest: #B4B7B6;
	--overlay-hover: rgba(19, 38, 87, 0.4);
	--fill-primary: #2E95B1;
	--fill-secondary-light: #D97243;
	--fill-highlight-lightest: #ecf9fc58;
	--fill-blue: #ecf9fc;
	--fill-purple: #D87CF6;
	--fill-yellow-2: #C79B0C;
	--fill-teal: #2FC8E4;
	--fill-orange-2: #FF9500;
	--fill-brown: #A2845E;
	--fill-primary-white: #FEFEFE;
	--fill-secondary-white: #F4F7FC;
	--fill-black: #424242;
	--fill-highlight-red: #FFCDD6;
	--icon-default-gray: #BCC7CF;
	--icon-default-black: #595959;
	--text-primary-black: #303030;
	--text-subtext-gray: #616161;
	--text-placeholder-gray: #9A9C9E;
	--random-gray: #333334;
    --random-light-gray: #f2f2f2;
	--stroke-gray: #BBCBD5;
	--status-error-red: #D83A52;
	--status-warning-yellow: #FFCB00;
	--status-success-green: #258750;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-figtree);
	--font-mono: var(--font-figtree);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

    --shadow-ring-gap-lg: 0 0 0 15px var(--fill-secondary-white);
     --shadow-ring-gap-sm: 0 0 0 5px var(--fill-secondary-white);
    

	/* DEFAULT COLORS */
	--color-fill-primary: var(--fill-primary);
	--color-fill-secondary-light: var(--fill-secondary-light);
	--color-lightest: var(--lightest);
	--color-overlay-hover: var(--overlay-hover);
	--color-fill-highlight-lightest: var(--fill-highlight-lightest);
	--color-fill-blue: var(--fill-blue);
	--color-fill-purple: var(--fill-purple);
	--color-fill-yellow-2: var(--fill-yellow-2);
	--color-fill-teal: var(--fill-teal);
	--color-fill-orange-2: var(--fill-orange-2);
	--color-fill-brown: var(--fill-brown);
	--color-fill-primary-white: var(--fill-primary-white);
	--color-fill-secondary-white: var(--fill-secondary-white);
	--color-fill-black: var(--fill-black);
	--color-fill-highlight-red: var(--fill-highlight-red);
	--color-icon-default-gray: var(--icon-default-gray);
	--color-icon-default-black: var(--icon-default-black);
	--color-t-primary-black: var(--text-primary-black);
	--color-t-subtext-gray: var(--text-subtext-gray);
	--color-t-placeholder-gray: var(--text-placeholder-gray);
	--color-random-gray: var(--random-gray);
    --color-random-light-gray: var(--random-light-gray);
	--color-stroke-gray: var(--stroke-gray);
	--color-status-error-red: var(--status-error-red);
	--color-status-warning-yellow: var(--status-warning-yellow);
	--color-status-success-green: var(--status-success-green);

	/* TYPOGRAPHY */
	--text-paragraph-s-reg: 1rem;
	--text-paragraph-s-reg--line-height: 1.625rem;
	--text-paragraph-s-reg--font-weight: 400;

	--text-paragraph-xs-reg: 0.875rem;
	--text-paragraph-xs-reg--line-height: 1.375rem;
	--text-paragraph-xs-reg--font-weight: 400;

	--text-title-s-bold: 1rem;
	--text-title-s-bold--line-height: 1.5rem;
	--text-title-s-bold--font-weight: 700;

	--text-title-m-bold: 1.125rem;
	--text-title-m-bold--line-height: 1.625rem;
	--text-title-m-bold--font-weight: 700;

	--text-title-l-bold: 1.5rem;
	--text-title-l-bold--line-height: 2rem;
	--text-title-l-bold--font-weight: 700;

    --text-title-random-bold: 2.25rem;
    --text-title-random-bold--line-height: 3.15rem;
    --text-title-random-bold--font-weight: 700;

	--text-title-xl-bold: 2.5rem;
	--text-title-xl-bold--line-height: 3rem;
	--text-title-xl-bold--font-weight: 700;

	--text-label-s-reg: 1rem;
	--text-label-s-reg--line-height: 1.625rem;
	--text-label-s-reg--font-weight: 400;

	--text-label-xs-bold: 0.875rem;
	--text-label-xs-bold--line-height: 1.375rem;
	--text-label-xs-bold--font-weight: 700;

	--text-label-xs-reg: 0.875rem;
	--text-label-xs-reg--line-height: 1.375rem;
	--text-label-xs-reg--font-weight: 400;

	--text-label-xxs-reg: 0.75rem;
	--text-label-xxs-reg--line-height: 1.25rem;	
	--text-label-xxs-reg--font-weight: 400;

	--text-label-xxxs-reg: 0.5rem;
	--text-label-xxxs-reg--line-height: 1rem;
	--text-label-xxxs-reg--font-weight: 400;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	button {
		@apply cursor-pointer;
	}
}

html,
body {
	font-family: var(--font-figtree);
}

.container {
	@apply mx-auto;
}

/* Padding */
@utility p-* {
	padding: calc((--value([number]) * 1rem) / 16);
}

@utility px-* {
	padding-left: calc((--value([number]) * 1rem) / 16);
	padding-right: calc((--value([number]) * 1rem) / 16);
}

@utility py-* {
	padding-bottom: calc((--value([number]) * 1rem) / 16);
	padding-top: calc((--value([number]) * 1rem) / 16);
}

@utility pt-* {
	padding-top: calc((--value([number]) * 1rem) / 16);
}

@utility pb-* {
	padding-bottom: calc((--value([number]) * 1rem) / 16);
}

@utility pl-* {
	padding-left: calc((--value([number]) * 1rem) / 16);
}

@utility pr-* {
	padding-right: calc((--value([number]) * 1rem) / 16);
}

/* Margin */
@utility m-* {
	margin: calc((--value([number]) * 1rem) / 16);
}

@utility mx-* {
	margin-left: calc((--value([number]) * 1rem) / 16);
	margin-right: calc((--value([number]) * 1rem) / 16);
}

@utility my-* {
	margin-bottom: calc((--value([number]) * 1rem) / 16);
	margin-top: calc((--value([number]) * 1rem) / 16);
}

@utility mt-* {
	margin-top: calc((--value([number]) * 1rem) / 16);
}

@utility mb-* {
	margin-bottom: calc((--value([number]) * 1rem) / 16);
}

@utility ml-* {
	margin-left: calc((--value([number]) * 1rem) / 16);
}

@utility mr-* {
	margin-right: calc((--value([number]) * 1rem) / 16);
}

/* Gap */
@utility gap-* {
	gap: calc((--value([number]) * 1rem) / 16);
}

@utility gap-x-* {
	column-gap: calc((--value([number]) * 1rem) / 16);
}

@utility gap-y-* {
	row-gap: calc((--value([number]) * 1rem) / 16);
}

/* Inset (Positioning) */
@utility inset-* {
	inset: calc((--value([number]) * 1rem) / 16);
}

@utility inset-x-* {
	left: calc((--value([number]) * 1rem) / 16);
	right: calc((--value([number]) * 1rem) / 16);
}

@utility inset-y-* {
	bottom: calc((--value([number]) * 1rem) / 16);
	top: calc((--value([number]) * 1rem) / 16);
}

@utility top-* {
	top: calc((--value([number]) * 1rem) / 16);
}

@utility bottom-* {
	bottom: calc((--value([number]) * 1rem) / 16);
}

@utility left-* {
	left: calc((--value([number]) * 1rem) / 16);
}

@utility right-* {
	right: calc((--value([number]) * 1rem) / 16);
}

/* Width & Height */
@utility w-* {
	width: calc((--value([number]) * 1rem) / 16);
}

@utility min-w-* {
	min-width: calc((--value([number]) * 1rem) / 16);
}

@utility max-w-* {
	max-width: calc((--value([number]) * 1rem) / 16);
}

@utility h-* {
	height: calc((--value([number]) * 1rem) / 16);
}

@utility min-h-* {
	min-height: calc((--value([number]) * 1rem) / 16);
}

@utility max-h-* {
	max-height: calc((--value([number]) * 1rem) / 16);
}

/* Flexbox & Grid */
@utility flex-* {
	flex: --value([number]);
}

@utility basis-* {
	flex-basis: calc((--value([number]) * 1rem) / 16);
}

/* Typography */
@utility leading-* {
	line-height: calc((--value([number]) * 1rem) / 16);
}

@utility tracking-* {
	letter-spacing: calc((--value([number]) * 1rem) / 16);
}

@utility indent-* {
	text-indent: calc((--value([number]) * 1rem) / 16);
}

/* Borders */
@utility rounded-* {
	border-radius: calc((--value([number]) * 1rem) / 16);
}

@utility border-* {
	border-width: calc((--value([number]) * 1rem) / 16);
}

/* Transforms */
@utility translate-x-* {
	transform: translateX(calc((--value([number]) * 1rem) / 16));
}

@utility translate-y-* {
	transform: translateY(calc((--value([number]) * 1rem) / 16));
}

/* Size */
@utility size-* {
	height: calc((--value([number]) * 1rem) / 16);
	width: calc((--value([number]) * 1rem) / 16);
}